# 실습

1) WordCounter 구현

2) 타이타닉 데이터 분석!

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 38 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 13.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=155d83d8d42b7917cc3e1f796b89065ac160bb5b3526ff20dac85d6d2be1927a
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [4]:
from pyspark import SparkContext

sc = SparkContext()

## WordCounter 구현하기

- `reduceByKey` 이용

In [5]:
text = sc.parallelize('hello python')

# map 함수를 적용한 RDD 구하기
text_1 = text.filter(lambda x: x != " ")
text_2 = text_1.map(lambda x:(x, 1))

#reduceByKey 함수를 적용한 Word Counter 출력
word_count = text_2.reduceByKey(lambda accum, n: accum + n)  
word_count.collect()

[('h', 2),
 ('l', 2),
 ('p', 1),
 ('y', 1),
 ('e', 1),
 ('o', 2),
 ('t', 1),
 ('n', 1)]

## 타이타닉 데이터분석!

- 생존자와 사망자로 나누어 평균연령을 구해 봅니다.
`map` 함수 이용!

In [26]:
csv_path = '/content/sample_data/train.csv'
csv_data_0 = sc.textFile(csv_path)
csv_data_1 = csv_data_0.filter(lambda line: len(line)>1).map(lambda line: line.split(","))   
columns = csv_data_1.take(1)
csv_data_2 = csv_data_1.filter(lambda line: line[0].isdecimal())
# Name에서 나뉘어진 두개의 element를 위해 insert
columns[0].insert(4,'FullName')
csv_data_3 = csv_data_2.map(lambda line: [(columns[0][i], linedata) for i, linedata in enumerate(line)])

csv_data_3.take(50)

[[('PassengerId', '1'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Braund'),
  ('FullName', ' Mr. Owen Harris"'),
  ('Sex', 'male'),
  ('Age', '22'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', 'A/5 21171'),
  ('Fare', '7.25'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '2'),
  ('Survived', '1'),
  ('Pclass', '1'),
  ('Name', '"Cumings'),
  ('FullName', ' Mrs. John Bradley (Florence Briggs Thayer)"'),
  ('Sex', 'female'),
  ('Age', '38'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', 'PC 17599'),
  ('Fare', '71.2833'),
  ('Cabin', 'C85'),
  ('Embarked', 'C')],
 [('PassengerId', '3'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Heikkinen'),
  ('FullName', ' Miss. Laina"'),
  ('Sex', 'female'),
  ('Age', '26'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'STON/O2. 3101282'),
  ('Fare', '7.925'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '4'),
  ('Survived', '1'),
  ('Pclass', '1'),
  ('Name', '"Futrelle'),
  ('FullName', ' Mrs. Jacques Heath (Lily May Peel)"'),
  ('Sex', 'female'),
  ('Age', '35'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '113803'),
  ('Fare', '53.1'),
  ('Cabin', 'C123'),
  ('Embarked', 'S')],
 [('PassengerId', '5'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Allen'),
  ('FullName', ' Mr. William Henry"'),
  ('Sex', 'male'),
  ('Age', '35'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '373450'),
  ('Fare', '8.05'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '6'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Moran'),
  ('FullName', ' Mr. James"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '330877'),
  ('Fare', '8.4583'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '7'),
  ('Survived', '0'),
  ('Pclass', '1'),
  ('Name', '"McCarthy'),
  ('FullName', ' Mr. Timothy J"'),
  ('Sex', 'male'),
  ('Age', '54'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '17463'),
  ('Fare', '51.8625'),
  ('Cabin', 'E46'),
  ('Embarked', 'S')],
 [('PassengerId', '8'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Palsson'),
  ('FullName', ' Master. Gosta Leonard"'),
  ('Sex', 'male'),
  ('Age', '2'),
  ('SibSp', '3'),
  ('Parch', '1'),
  ('Ticket', '349909'),
  ('Fare', '21.075'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '9'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Johnson'),
  ('FullName', ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)"'),
  ('Sex', 'female'),
  ('Age', '27'),
  ('SibSp', '0'),
  ('Parch', '2'),
  ('Ticket', '347742'),
  ('Fare', '11.1333'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '10'),
  ('Survived', '1'),
  ('Pclass', '2'),
  ('Name', '"Nasser'),
  ('FullName', ' Mrs. Nicholas (Adele Achem)"'),
  ('Sex', 'female'),
  ('Age', '14'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '237736'),
  ('Fare', '30.0708'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '11'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Sandstrom'),
  ('FullName', ' Miss. Marguerite Rut"'),
  ('Sex', 'female'),
  ('Age', '4'),
  ('SibSp', '1'),
  ('Parch', '1'),
  ('Ticket', 'PP 9549'),
  ('Fare', '16.7'),
  ('Cabin', 'G6'),
  ('Embarked', 'S')],
 [('PassengerId', '12'),
  ('Survived', '1'),
  ('Pclass', '1'),
  ('Name', '"Bonnell'),
  ('FullName', ' Miss. Elizabeth"'),
  ('Sex', 'female'),
  ('Age', '58'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '113783'),
  ('Fare', '26.55'),
  ('Cabin', 'C103'),
  ('Embarked', 'S')],
 [('PassengerId', '13'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Saundercock'),
  ('FullName', ' Mr. William Henry"'),
  ('Sex', 'male'),
  ('Age', '20'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'A/5. 2151'),
  ('Fare', '8.05'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '14'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Andersson'),
  ('FullName', ' Mr. Anders Johan"'),
  ('Sex', 'male'),
  ('Age', '39'),
  ('SibSp', '1'),
  ('Parch', '5'),
  ('Ticket', '347082'),
  ('Fare', '31.275'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '15'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Vestrom'),
  ('FullName', ' Miss. Hulda Amanda Adolfina"'),
  ('Sex', 'female'),
  ('Age', '14'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '350406'),
  ('Fare', '7.8542'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '16'),
  ('Survived', '1'),
  ('Pclass', '2'),
  ('Name', '"Hewlett'),
  ('FullName', ' Mrs. (Mary D Kingcome) "'),
  ('Sex', 'female'),
  ('Age', '55'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '248706'),
  ('Fare', '16'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '17'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Rice'),
  ('FullName', ' Master. Eugene"'),
  ('Sex', 'male'),
  ('Age', '2'),
  ('SibSp', '4'),
  ('Parch', '1'),
  ('Ticket', '382652'),
  ('Fare', '29.125'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '18'),
  ('Survived', '1'),
  ('Pclass', '2'),
  ('Name', '"Williams'),
  ('FullName', ' Mr. Charles Eugene"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '244373'),
  ('Fare', '13'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '19'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Vander Planke'),
  ('FullName', ' Mrs. Julius (Emelia Maria Vandemoortele)"'),
  ('Sex', 'female'),
  ('Age', '31'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '345763'),
  ('Fare', '18'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '20'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Masselmani'),
  ('FullName', ' Mrs. Fatima"'),
  ('Sex', 'female'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '2649'),
  ('Fare', '7.225'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '21'),
  ('Survived', '0'),
  ('Pclass', '2'),
  ('Name', '"Fynney'),
  ('FullName', ' Mr. Joseph J"'),
  ('Sex', 'male'),
  ('Age', '35'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '239865'),
  ('Fare', '26'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '22'),
  ('Survived', '1'),
  ('Pclass', '2'),
  ('Name', '"Beesley'),
  ('FullName', ' Mr. Lawrence"'),
  ('Sex', 'male'),
  ('Age', '34'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '248698'),
  ('Fare', '13'),
  ('Cabin', 'D56'),
  ('Embarked', 'S')],
 [('PassengerId', '23'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"McGowan'),
  ('FullName', ' Miss. Anna ""Annie"""'),
  ('Sex', 'female'),
  ('Age', '15'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '330923'),
  ('Fare', '8.0292'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '24'),
  ('Survived', '1'),
  ('Pclass', '1'),
  ('Name', '"Sloper'),
  ('FullName', ' Mr. William Thompson"'),
  ('Sex', 'male'),
  ('Age', '28'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '113788'),
  ('Fare', '35.5'),
  ('Cabin', 'A6'),
  ('Embarked', 'S')],
 [('PassengerId', '25'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Palsson'),
  ('FullName', ' Miss. Torborg Danira"'),
  ('Sex', 'female'),
  ('Age', '8'),
  ('SibSp', '3'),
  ('Parch', '1'),
  ('Ticket', '349909'),
  ('Fare', '21.075'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '26'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Asplund'),
  ('FullName', ' Mrs. Carl Oscar (Selma Augusta Emilia Johansson)"'),
  ('Sex', 'female'),
  ('Age', '38'),
  ('SibSp', '1'),
  ('Parch', '5'),
  ('Ticket', '347077'),
  ('Fare', '31.3875'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '27'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Emir'),
  ('FullName', ' Mr. Farred Chehab"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '2631'),
  ('Fare', '7.225'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '28'),
  ('Survived', '0'),
  ('Pclass', '1'),
  ('Name', '"Fortune'),
  ('FullName', ' Mr. Charles Alexander"'),
  ('Sex', 'male'),
  ('Age', '19'),
  ('SibSp', '3'),
  ('Parch', '2'),
  ('Ticket', '19950'),
  ('Fare', '263'),
  ('Cabin', 'C23 C25 C27'),
  ('Embarked', 'S')],
 [('PassengerId', '29'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"O\'Dwyer'),
  ('FullName', ' Miss. Ellen ""Nellie"""'),
  ('Sex', 'female'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '330959'),
  ('Fare', '7.8792'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '30'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Todoroff'),
  ('FullName', ' Mr. Lalio"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '349216'),
  ('Fare', '7.8958'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '31'),
  ('Survived', '0'),
  ('Pclass', '1'),
  ('Name', '"Uruchurtu'),
  ('FullName', ' Don. Manuel E"'),
  ('Sex', 'male'),
  ('Age', '40'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'PC 17601'),
  ('Fare', '27.7208'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '32'),
  ('Survived', '1'),
  ('Pclass', '1'),
  ('Name', '"Spencer'),
  ('FullName', ' Mrs. William Augustus (Marie Eugenie)"'),
  ('Sex', 'female'),
  ('Age', ''),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', 'PC 17569'),
  ('Fare', '146.5208'),
  ('Cabin', 'B78'),
  ('Embarked', 'C')],
 [('PassengerId', '33'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Glynn'),
  ('FullName', ' Miss. Mary Agatha"'),
  ('Sex', 'female'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '335677'),
  ('Fare', '7.75'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '34'),
  ('Survived', '0'),
  ('Pclass', '2'),
  ('Name', '"Wheadon'),
  ('FullName', ' Mr. Edward H"'),
  ('Sex', 'male'),
  ('Age', '66'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'C.A. 24579'),
  ('Fare', '10.5'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '35'),
  ('Survived', '0'),
  ('Pclass', '1'),
  ('Name', '"Meyer'),
  ('FullName', ' Mr. Edgar Joseph"'),
  ('Sex', 'male'),
  ('Age', '28'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', 'PC 17604'),
  ('Fare', '82.1708'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '36'),
  ('Survived', '0'),
  ('Pclass', '1'),
  ('Name', '"Holverson'),
  ('FullName', ' Mr. Alexander Oskar"'),
  ('Sex', 'male'),
  ('Age', '42'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '113789'),
  ('Fare', '52'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '37'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Mamee'),
  ('FullName', ' Mr. Hanna"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '2677'),
  ('Fare', '7.2292'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '38'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Cann'),
  ('FullName', ' Mr. Ernest Charles"'),
  ('Sex', 'male'),
  ('Age', '21'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'A./5. 2152'),
  ('Fare', '8.05'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '39'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Vander Planke'),
  ('FullName', ' Miss. Augusta Maria"'),
  ('Sex', 'female'),
  ('Age', '18'),
  ('SibSp', '2'),
  ('Parch', '0'),
  ('Ticket', '345764'),
  ('Fare', '18'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '40'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Nicola-Yarred'),
  ('FullName', ' Miss. Jamila"'),
  ('Sex', 'female'),
  ('Age', '14'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '2651'),
  ('Fare', '11.2417'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '41'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Ahlin'),
  ('FullName', ' Mrs. Johan (Johanna Persdotter Larsson)"'),
  ('Sex', 'female'),
  ('Age', '40'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '7546'),
  ('Fare', '9.475'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '42'),
  ('Survived', '0'),
  ('Pclass', '2'),
  ('Name', '"Turpin'),
  ('FullName', ' Mrs. William John Robert (Dorothy Ann Wonnacott)"'),
  ('Sex', 'female'),
  ('Age', '27'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '11668'),
  ('Fare', '21'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '43'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Kraeff'),
  ('FullName', ' Mr. Theodor"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '349253'),
  ('Fare', '7.8958'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '44'),
  ('Survived', '1'),
  ('Pclass', '2'),
  ('Name', '"Laroche'),
  ('FullName', ' Miss. Simonne Marie Anne Andree"'),
  ('Sex', 'female'),
  ('Age', '3'),
  ('SibSp', '1'),
  ('Parch', '2'),
  ('Ticket', 'SC/Paris 2123'),
  ('Fare', '41.5792'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '45'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"Devaney'),
  ('FullName', ' Miss. Margaret Delia"'),
  ('Sex', 'female'),
  ('Age', '19'),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '330958'),
  ('Fare', '7.8792'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '46'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Rogers'),
  ('FullName', ' Mr. William John"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', 'S.C./A.4. 23567'),
  ('Fare', '8.05'),
  ('Cabin', ''),
  ('Embarked', 'S')],
 [('PassengerId', '47'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Lennon'),
  ('FullName', ' Mr. Denis"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '370371'),
  ('Fare', '15.5'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '48'),
  ('Survived', '1'),
  ('Pclass', '3'),
  ('Name', '"O\'Driscoll'),
  ('FullName', ' Miss. Bridget"'),
  ('Sex', 'female'),
  ('Age', ''),
  ('SibSp', '0'),
  ('Parch', '0'),
  ('Ticket', '14311'),
  ('Fare', '7.75'),
  ('Cabin', ''),
  ('Embarked', 'Q')],
 [('PassengerId', '49'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Samaan'),
  ('FullName', ' Mr. Youssef"'),
  ('Sex', 'male'),
  ('Age', ''),
  ('SibSp', '2'),
  ('Parch', '0'),
  ('Ticket', '2662'),
  ('Fare', '21.6792'),
  ('Cabin', ''),
  ('Embarked', 'C')],
 [('PassengerId', '50'),
  ('Survived', '0'),
  ('Pclass', '3'),
  ('Name', '"Arnold-Franchi'),
  ('FullName', ' Mrs. Josef (Josefine Franchi)"'),
  ('Sex', 'female'),
  ('Age', '18'),
  ('SibSp', '1'),
  ('Parch', '0'),
  ('Ticket', '349237'),
  ('Fare', '17.8'),
  ('Cabin', ''),
  ('Embarked', 'S')]]

In [32]:
# 생존자와 사망자의 연령 총합 구하기
csv_data_4 = csv_data_3.map(lambda line:(line[1][1], line[6][1]))   # (생존여부, 연령)
# csv_data_4.take(50)
csv_data_4 = csv_data_4.filter(lambda tup : tup[1]!='' ) # age 결측치 제거
csv_data_4.take(50)

[('0', '22'),
 ('1', '38'),
 ('1', '26'),
 ('1', '35'),
 ('0', '35'),
 ('0', '54'),
 ('0', '2'),
 ('1', '27'),
 ('1', '14'),
 ('1', '4'),
 ('1', '58'),
 ('0', '20'),
 ('0', '39'),
 ('0', '14'),
 ('1', '55'),
 ('0', '2'),
 ('0', '31'),
 ('0', '35'),
 ('1', '34'),
 ('1', '15'),
 ('1', '28'),
 ('0', '8'),
 ('1', '38'),
 ('0', '19'),
 ('0', '40'),
 ('0', '66'),
 ('0', '28'),
 ('0', '42'),
 ('0', '21'),
 ('0', '18'),
 ('1', '14'),
 ('0', '40'),
 ('0', '27'),
 ('1', '3'),
 ('1', '19'),
 ('0', '18'),
 ('0', '7'),
 ('0', '21'),
 ('1', '49'),
 ('1', '29'),
 ('0', '65'),
 ('1', '21'),
 ('0', '28.5'),
 ('1', '5'),
 ('0', '11'),
 ('0', '22'),
 ('1', '38'),
 ('0', '45'),
 ('0', '4'),
 ('1', '29')]

In [35]:
#생존자, 사망자 나이 총합
age_sum_data = csv_data_4.reduceByKey(lambda accum, age: float(accum) + float(age))  
age_sum = age_sum_data.collect()
age_sum

[('0', 12985.5), ('1', 8219.67)]

In [36]:
# 생존자와 사망자의 사람 수 구하기
csv_data_5 = csv_data_3.map(lambda line:(line[1][1], 1))
survived_data = csv_data_5.reduceByKey(lambda accum, count: int(accum) + int(count)) 
survived_count = survived_data.collect()

In [37]:
age_sum_dict = dict(age_sum)
survived_dict = dict(survived_count)
age_sum_dict['1']

8219.67

In [38]:
age_sum_dict['0']

12985.5

In [40]:
avg_age_survived = age_sum_dict['1']/survived_dict['1']
print('생존자 평균 연령:' ,avg_age_survived)

생존자 평균 연령: 24.034122807017543

In [41]:
avg_age_died = age_sum_dict['0']/survived_dict['0']
print('사망자 평균 연령:' ,avg_age_died)

사망자 평균 연령: 23.653005464480874